@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-primary-50: #fff6f2;
  --color-primary-100: #ffeadd;
  --color-primary-200: #ffd1b3;
  --color-primary-300: #ffb580;
  --color-primary-400: #ff8a4d;
  --color-primary-500: #ff5b26;
  --color-primary-600: #e14f21;
  --color-primary-700: #b83f1a;
  --color-primary-800: #8f3013;
  --color-primary-900: #65210c;
  --color-secondary-50: var(--color-gray-50);
  --color-secondary-100: var(--color-gray-100);
  --color-secondary-200: var(--color-gray-200);
  --color-secondary-300: var(--color-gray-300);
  --color-secondary-400: var(--color-gray-400);
  --color-secondary-500: var(--color-gray-500);
  --color-secondary-600: var(--color-gray-600);
  --color-secondary-700: var(--color-gray-700);
  --color-secondary-800: var(--color-gray-800);
  --color-secondary-900: var(--color-gray-900);
  --h-130: calc(var(--spacing) * 130);
}